In [6]:
using DataFrames

In [7]:
using CSV

In [81]:
df = CSV.read("bank-marketing-campaign/bank-additional-full.csv")

41188×21 DataFrame. Omitted printing of 16 columns
│ Row   │ age   │ job         │ marital  │ education           │ default │
│       │ Int64 │ String      │ String   │ String              │ String  │
├───────┼───────┼─────────────┼──────────┼─────────────────────┼─────────┤
│ 1     │ 56    │ housemaid   │ married  │ basic.4y            │ no      │
│ 2     │ 57    │ services    │ married  │ high.school         │ unknown │
│ 3     │ 37    │ services    │ married  │ high.school         │ no      │
│ 4     │ 40    │ admin.      │ married  │ basic.6y            │ no      │
│ 5     │ 56    │ services    │ married  │ high.school         │ no      │
│ 6     │ 45    │ services    │ married  │ basic.9y            │ unknown │
│ 7     │ 59    │ admin.      │ married  │ professional.course │ no      │
│ 8     │ 41    │ blue-collar │ married  │ unknown             │ unknown │
│ 9     │ 24    │ technician  │ single   │ professional.course │ no      │
│ 10    │ 25    │ services    │ single   │ high.school         │ no      │
⋮
│ 41178 │ 57    │ retired     │ married  │ professional.course │ no      │
│ 41179 │ 62    │ retired     │ married  │ university.degree   │ no      │
│ 41180 │ 64    │ retired     │ divorced │ professional.course │ no      │
│ 41181 │ 36    │ admin.      │ married  │ university.degree   │ no      │
│ 41182 │ 37    │ admin.      │ married  │ university.degree   │ no      │
│ 41183 │ 29    │ unemployed  │ single   │ basic.4y            │ no      │
│ 41184 │ 73    │ retired     │ married  │ professional.course │ no      │
│ 41185 │ 46    │ blue-collar │ married  │ professional.course │ no      │
│ 41186 │ 56    │ retired     │ married  │ university.degree   │ no      │
│ 41187 │ 44    │ technician  │ married  │ professional.course │ no      │
│ 41188 │ 74    │ retired     │ married  │ professional.course │ no      │

## Final task: Predict Y

## Task 1 - Data cleaning and preparation

In [82]:
# convert dataset into a matrix
df = convert(Matrix,df)

41188×21 Array{Any,2}:
 56  "housemaid"    "married"   …  93.994  -36.4  4.857  5191.0  "no"
 57  "services"     "married"      93.994  -36.4  4.857  5191.0  "no"
 37  "services"     "married"      93.994  -36.4  4.857  5191.0  "no"
 40  "admin."       "married"      93.994  -36.4  4.857  5191.0  "no"
 56  "services"     "married"      93.994  -36.4  4.857  5191.0  "no"
 45  "services"     "married"   …  93.994  -36.4  4.857  5191.0  "no"
 59  "admin."       "married"      93.994  -36.4  4.857  5191.0  "no"
 41  "blue-collar"  "married"      93.994  -36.4  4.857  5191.0  "no"
 24  "technician"   "single"       93.994  -36.4  4.857  5191.0  "no"
 25  "services"     "single"       93.994  -36.4  4.857  5191.0  "no"
 41  "blue-collar"  "married"   …  93.994  -36.4  4.857  5191.0  "no"
 25  "services"     "single"       93.994  -36.4  4.857  5191.0  "no"
 29  "blue-collar"  "single"       93.994  -36.4  4.857  5191.0  "no"
  ⋮                             ⋱                                ⋮
 38  "housemaid"    "divorced"     94.767  -50.8  1.031  4963.6  "no"
 57  "retired"      "married"      94.767  -50.8  1.031  4963.6  "no"
 62  "retired"      "married"      94.767  -50.8  1.031  4963.6  "yes"
 64  "retired"      "divorced"     94.767  -50.8  1.028  4963.6  "no"
 36  "admin."       "married"   …  94.767  -50.8  1.028  4963.6  "no"
 37  "admin."       "married"      94.767  -50.8  1.028  4963.6  "yes"
 29  "unemployed"   "single"       94.767  -50.8  1.028  4963.6  "no"
 73  "retired"      "married"      94.767  -50.8  1.028  4963.6  "yes"
 46  "blue-collar"  "married"      94.767  -50.8  1.028  4963.6  "no"
 56  "retired"      "married"   …  94.767  -50.8  1.028  4963.6  "no"
 44  "technician"   "married"      94.767  -50.8  1.028  4963.6  "yes"
 74  "retired"      "married"      94.767  -50.8  1.028  4963.6  "no"

In [39]:
# get the list of possible values
function pValues(column)
    values = []
    count = 0
    for c in column
        for v in values
            if(c == v)
                count = 1 + count
            end
        end
        if(count == 0)
            push!(values,c)
        end
        count = 0
    end
    return values
end

pValues (generic function with 1 method)

In [73]:
# change strings to number
function categoricalData(column,values)
    for c in 1:size(column,1)
        for i in 1:size(values,1)
            if(column[c] == values[i])
                column[c] = i
            end
        end
    end
    return column
end

categoricalData (generic function with 1 method)

In [90]:
# binary data
function binaryData(column)
    for i in 1:size(column,1)
        if(column[i] == "yes")
            column[i] = 1
        else
            column[i] = 0
        end
    end
    return column
end

binaryData (generic function with 1 method)

In [95]:
# prepare job description
df[:,2] = categoricalData(df[:,2], pValues(df[:,2]))
# prepare marital status
df[:,3] = categoricalData(df[:,3], pValues(df[:,3]))
# prepare education
df[:,4] = categoricalData(df[:,4], pValues(df[:,4]))
# prepare default
df[:,5] = categoricalData(df[:,5], pValues(df[:,5]))
# prepare housing
df[:,6] = categoricalData(df[:,6], pValues(df[:,6]))
# prepare loan
df[:,7] = categoricalData(df[:,7], pValues(df[:,7]))
# prepare contact
df[:,8] = categoricalData(df[:,8], pValues(df[:,8]))
# prepare month
df[:,9] = categoricalData(df[:,9], pValues(df[:,9]))
# prepare day of week
df[:,10] = categoricalData(df[:,10], pValues(df[:,10]))
# prepare poutcome
df[:,15] = categoricalData(df[:,15], pValues(df[:,15]))

# prepare y
df[:,21] = binaryData(df[:,21])

41188-element Array{Any,1}:
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 ⋮
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0
 0

In [98]:
# convert matrix to Array float
df = convert(Array{Float64},df)

41188×21 Array{Float64,2}:
 56.0  1.0  1.0  1.0  1.0  1.0  1.0  …  93.994  -36.4  4.857  5191.0  0.0
 57.0  2.0  1.0  2.0  2.0  1.0  1.0     93.994  -36.4  4.857  5191.0  0.0
 37.0  2.0  1.0  2.0  1.0  2.0  1.0     93.994  -36.4  4.857  5191.0  0.0
 40.0  3.0  1.0  3.0  1.0  1.0  1.0     93.994  -36.4  4.857  5191.0  0.0
 56.0  2.0  1.0  2.0  1.0  1.0  2.0     93.994  -36.4  4.857  5191.0  0.0
 45.0  2.0  1.0  4.0  2.0  1.0  1.0  …  93.994  -36.4  4.857  5191.0  0.0
 59.0  3.0  1.0  5.0  1.0  1.0  1.0     93.994  -36.4  4.857  5191.0  0.0
 41.0  4.0  1.0  6.0  2.0  1.0  1.0     93.994  -36.4  4.857  5191.0  0.0
 24.0  5.0  2.0  5.0  1.0  2.0  1.0     93.994  -36.4  4.857  5191.0  0.0
 25.0  2.0  2.0  2.0  1.0  2.0  1.0     93.994  -36.4  4.857  5191.0  0.0
 41.0  4.0  1.0  6.0  2.0  1.0  1.0  …  93.994  -36.4  4.857  5191.0  0.0
 25.0  2.0  2.0  2.0  1.0  2.0  1.0     93.994  -36.4  4.857  5191.0  0.0
 29.0  4.0  2.0  2.0  1.0  1.0  2.0     93.994  -36.4  4.857  5191.0  0.0
  ⋮                        ⋮         ⋱                                ⋮
 38.0  1.0  3.0  2.0  1.0  2.0  2.0     94.767  -50.8  1.031  4963.6  0.0
 57.0  6.0  1.0  5.0  1.0  2.0  1.0     94.767  -50.8  1.031  4963.6  0.0
 62.0  6.0  1.0  7.0  1.0  1.0  1.0     94.767  -50.8  1.031  4963.6  0.0
 64.0  6.0  3.0  5.0  1.0  2.0  1.0     94.767  -50.8  1.028  4963.6  0.0
 36.0  3.0  1.0  7.0  1.0  1.0  1.0  …  94.767  -50.8  1.028  4963.6  0.0
 37.0  3.0  1.0  7.0  1.0  2.0  1.0     94.767  -50.8  1.028  4963.6  0.0
 29.0  8.0  2.0  1.0  1.0  2.0  1.0     94.767  -50.8  1.028  4963.6  0.0
 73.0  6.0  1.0  5.0  1.0  2.0  1.0     94.767  -50.8  1.028  4963.6  0.0
 46.0  4.0  1.0  5.0  1.0  1.0  1.0     94.767  -50.8  1.028  4963.6  0.0
 56.0  6.0  1.0  7.0  1.0  2.0  1.0  …  94.767  -50.8  1.028  4963.6  0.0
 44.0  5.0  1.0  5.0  1.0  1.0  1.0     94.767  -50.8  1.028  4963.6  0.0
 74.0  6.0  1.0  5.0  1.0  2.0  1.0     94.767  -50.8  1.028  4963.6  0.0